.node {
    height: 25px;
    width: 25px;
    border: 1px solid #2cd3e1;
}

.wall {
    height: 25px;
    width: 25px;
    border: 1px solid #2cd3e1;
    background-color: #000000;
}

.startNode {
    height: 25px;
    width: 25px;
    background: red;
    border: 1px solid #2cd3e1;
}

.endNode {
    height: 25px;
    width: 25px;
    background: green;
    border: 1px solid #2cd3e1;
}

.visited {
    height: 25px;
    width: 25px;
    background: blue;
    border: 1px solid #2cd3e1;
}

.path {
    height: 25px;
    width: 25px;
    background: yellow;
    border: 1px solid #2cd3e1;
}
