.select-container {
    background: white;
    margin: auto;
    min-width: 100%;
    width: 7.2em;
    height: 1.8em;
    position: relative;
    user-select: none;
    cursor: pointer;
    padding: 0 0.3em;
    border: 2px solid #000;
}

.select-options {
    position: absolute;
    top: 1.8rem;
    left: 0;
    height: auto;
    width: 7em;
    background: white;
    z-index: 10;
}

.select-options > ul {
    list-style: none;
    text-decoration: none;
    user-select: none;
}

.select-options > ul > li {
    width: 100%;
    padding: 0.3em;
}

.select-options > ul > li:hover {
    background: orange;
}
